.outerDiv {
  width: 90%;
  height: max-content;
  /* height: 270px; */
  border: 1px solid d2d2d2;
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
  border-radius: 4px;
  background-color: white;
  padding-bottom: 2em;
  margin-top: 1.2em;

  /* margin-left: 1.5em; */
}
.heading {
  background-color: #f8f6f6;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 2%;
}

.icon {
  font-size: 35px;
}

.methodsAll {
  display: grid;
  grid-template-columns: 30% 70%;
}

.indiMethod {
  display: flex;
  gap: 1em;
  height: max-content;
  background-color: #f8f6f6;
  padding: 1em 1.5em;
  border-bottom: 1px solid #9e9a9a;
  cursor: pointer;
  color: #3e3e3e;
}

.indiMethodActive {
  display: flex;
  gap: 1em;
  height: max-content;
  background-color: #fff;
  padding: 1em 1.5em;
  border-bottom: 1px solid #9e9a9a;
  border-left: 3px solid #2196f3;
  cursor: pointer;
  color: #2196f3;
}

.totalFare {
  font-weight: bold;
  margin-top: 8px;
  font-size: 1.2rem;
}

.totalFare span {
  color: #f00;
}

.lastFlex {
  display: flex;
  justify-content: space-between;
  place-items: center;
  margin-top: 20px;
  padding-right: 2%;
}

.lastFlex button {
  background-color: #ef6614;
  width: 40%;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 19px;
  margin: 2% 0;
  cursor: pointer;
  border: none;
}

.lastFlex button:hover {
  background-color: #da5200;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3em;
  color: #393939;
}

form .input {
  font-size: 1rem;
  padding: 1em;
  outline: none;
  width: 80%;
}

form .upi {
  font-size: 1rem;
  padding: 0.6em;
  outline: none;
}

form .select {
  font-size: 1rem;
  padding: 0.6em;
  outline: none;
}
form .span {
  margin: 0 1em;
  color: #393939;
}

/* Gift Card */
.giftButton {
  background: #fff;
  color: #2196f3;
  border-radius: 4px;
  border: 1px solid #2196f3;
  padding: 0 14px;
  line-height: 39px;
  /* position: relative; */
  outline: 0;
  /* display: inline-block; */
  /* min-height: 43px; */
  /* min-width: 96px; */
  /* text-align: center; */
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin: 16px 0 0 18px;
}

/* Wallet */
.walletDiv {
  display: flex;
  place-items: center;
  gap: 0.8em;
  border: 1px solid #393939;
  padding: 2em 1.54em;
}

.imgWallet {
  width: 50px;
  height: 50px;
}
