/* main navbar wrapper */
.navbarWrapper{
    /* position: sticky; 
     top:0; */
    background-color: white;
    padding: 1px;
    z-index: 100;
}
/* navbar content */
.navbarContent{
    display: flex;
    padding-bottom: 4px;
    /* box-shadow: 1px 1px hsla(0, 0%, 53%, 0.687); */
}
/* make my trip logo container */
.logoWrapper{
    height: auto;
    display: flex;
 }
 /* make my trip anchor tag logo container */

.logoimg{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    /* height: 70px; */
}
 /* make my trip anchor tag img container */
.logoimg img{
    width: 100%;
    height: 50px;
}

/* .hamburgr_menu */
.hamburgr_menu{
    cursor: pointer;
    display: none;
}
.leftSideNavbar{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.rightSideNavbar{
    flex-grow: 5;

    display: flex;
    justify-content: space-between;
    
}
.rightSideNavbarMobile{
    flex-grow: 5;
    display: flex;
}

.iconWrapper{
    display: flex;
    flex-grow: 12;
    justify-content: space-evenly;
    align-items: center;
}
.iconWrapper > div{
    display: grid;
    place-items: center;
    color: rgb(85, 84, 84);
    cursor: pointer;
}

.iconWrapper > div> span :hover{
    border: #3339e9;
} 
 .iconWrapper > div > p  {
    /* font-size: 0.8em; */

}
.iconWrapper > div > p:hover{
    color: red;
}
.loginContainer{
    flex-grow: 2.5;
    display: grid;
    place-items: center;
    cursor: pointer;
} 
.loginContainer>button{
    height: 30px;
    width: 150px;
    border-radius: 6px;
    
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)
}
.loginContainer>button{
    margin: 10px;
   
   align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;     
    font-size: larger;       
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
 
  .loginContainer>button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.iconwrapper span{
    display: none;
}
.icons {
 display: none;
}

@media only screen and (max-width: 768px) {
    
    .hamburgr_menu{
        display: block;
        display: grid;
        place-items:end;
        align-items: center;
        margin-right: 3%;
        font-size: 1.4em;
    }
    
    .rightSideNavbar{
        display: none;
    }
    .flex_display{
        display: flex;
    }
    .rightSideNavbarMobile{
        display: flex;
        flex-direction: column;
    }
    .navbarContent{
        flex-direction: column;
    }
    .iconWrapper{
        flex-direction: column;
        flex-grow: 6;
    }
    .iconWrapper > div{
        margin-top: 10px;
        width: 80%;
       font-size: 1.5em;
        display: flex;
    }
  
    .iconWrapper > div > p> span{
       display: none;
    }
}








 
.btn-grad {}
