.titleBarContainer{
    display: flex;
    align-items: center;
}




.titleBar{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    line-height: 15.7143px;
    margin-top: 21px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
    box-sizing: border-box;
   
    width: 95%;
    padding: 0%;
    align-items: center;
}

